.calendar {
  display: none;
  background-color: red;
}

.todo_activated {
  position: relative;
  transition: all 0.5s;
  right: 0;
}
.todo_deactivated {
  //   display: none;
  position: relative;
  right: -300px;
  transition: all 0.5s;
}

.todo_card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  border-radius: 3px;
  margin-top: 3px;
  background-color: white;
}
.todos_container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  justify-content: space-around;
}
.todo_create_event {
  width: 400px;
  // height: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  right: -100vw;
  bottom: 130px;
  z-index: 10000;
  transition: all 0.5s;
}

.todo_shown {
  right: calc(-20vw + 70px);
}

// .todos_container::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 6px $shadow-scroll-bar;
//   box-shadow: inset 0 0 6px $shadow-scroll-bar;
//   border-radius: 10px;
// }

// .todos_container::-webkit-scrollbar {
//   width: 8px;
//   height: 6px;
// }

// .todos_container::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   background-color: $bg-scroll-bar-thumb;
//   background-image: -webkit-gradient(
//     linear,
//     40% 0%,
//     75% 84%,
//     from(rgb(33, 53, 145)),
//     to(rgb(2, 9, 110)),
//     color-stop(0.6, rgb(7, 17, 49))
//   );
// }
// .todos_container::-webkit-scrollbar-thumb :hover {
//   background-color: $bg-scroll-bar-thumb-hover;
//   background-image: -webkit-gradient(
//       linear,
//       40% 0%,
//       75% 84%,
//       from(rgb(13, 34, 102)),
//       to(rgb(0, 0, 0))
//     ),
//     color-stop(0.6, rgb(0, 0, 0));
// }

.todo_card:hover {
  background-color: rgb(228, 228, 228);
  cursor: pointer;
}

.notifications {
  position: relative;
  display: inline-block;
  background-color: rgb(189, 80, 80);
  padding: 0px 4px;
  left: 15px;
  border-radius: 100px;
  top: -15px;
  font-weight: bold;
}

.todo {
  position: absolute;
  top: 0;
  width: 200px;
  right: 0px;
}
.btn-custom {
  width: 50%;
  font-weight: bold;
}

// another file

@import url('https://fonts.googleapis.com/css?family=Oswald');
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #dadde6;
  font-family: arial;
}

.fl-left {
  float: left;
}

.fl-right {
  float: right;
}

.app_container {
  display: flex;
}
.calendar_container {
  width: calc(50% - 100px);
  // display: none;
}
.menu_container {
  display: block;

  position: absolute;
  height: 100vh;
  width: 60px;
  background-color: rgb(0, 0, 0);
  color: $bg-wheel;
  top: 0;
  left: 0;
  z-index: 1001;
}
.transitions {
  // -webkit-transition: left 0.5s ease;
  // transition: left 0.5s ease;
}
.menu_item {
  padding: 10px;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 0px 0px 10px 0px;
  margin-bottom: 10px;
  &:hover {
    cursor: pointer;
    background-color: $color-bg-linfInfo-dark-mode-hover;
  }
}
.color_text_todo {
  color: $todo-blue;
}
.title_todo {
  padding: 60px 50px;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  height: 190px;
  text-align: center;
}
.menu_active {
  width: 60px;
  height: 60px;
  background-color: $color-bg-linfInfo-dark-mode-selected;
  &:hover {
    cursor: pointer;
    background-color: $color-bg-linfInfo-dark-mode-selected;
  }
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
  border-left: 10px solid #fec500;
  padding-left: 10px;
  margin-bottom: 30px;
}

.row {
  overflow: hidden;
}

.diseable_date {
  color: rgb(193, 193, 193);
  &:hover {
    cursor: pointer;
  }
}

.todo_button_create {
  background-color: $todo-blue;
  padding: 8px;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}
.card {
  display: table-row;
  width: 45%;
  background-color: #fff;
  color: #989898;
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  border-radius: 4px;
  position: relative;
}

.date {
  display: table-cell;
  width: 45%;
  position: relative;
  text-align: center;
  border-right: 2px dashed #dadde6;
}

.date:before,
.date:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-color: $color-bg-content;
  position: absolute;
  top: -15px;
  right: -15px;
  z-index: 1;
  border-radius: 50%;
}

.date:after {
  top: auto;
  bottom: -15px;
}

.date time {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.date time span {
  display: block;
}

.date time span:first-child {
  color: #2b2b2b;
  font-weight: 600;
  font-size: 250%;
}

.date time span:last-child {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: -10px;
}

.card-cont {
  display: table-cell;
  width: 100%;
  font-size: 85%;
  padding: 10px 10px 10px 10px;
}

.card-cont h3 {
  color: #3c3c3c;
  font-size: 130%;
}

.row:last-child .card:last-of-type .card-cont h3 {
  text-decoration: line-through;
}

.card-cont > div {
  display: table-row;
}

.card-cont .even-date i,
.card-cont .even-info i,
.card-cont .even-date time,
.card-cont .even-info p {
  display: table-cell;
}

.card-cont .even-date i,
.card-cont .even-info i {
  padding: 5% 5% 0 0;
}

.card-cont .even-info p {
  padding: 0px 0px 0 0;
}

.card-cont .even-date time span {
  display: block;
}

.card-cont button {
  display: block;
  text-decoration: none;
  width: 80px;
  height: 30px;
  background-color: #213d5b;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 2px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.row:last-child .card:first-child .card-cont a {
  background-color: #037fdd;
}

.row:last-child .card:last-child .card-cont a {
  background-color: #f8504c;
}

@media screen and (max-width: 860px) {
  .card {
    display: block;
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }

  .card + .card {
    margin-left: 0;
  }

  .card-cont .even-date,
  .card-cont .even-info {
    font-size: 75%;
  }
}
@media screen and (min-width: 400px) {
  .todos_container {
    overflow: auto;
  }
}
