:root {
  // --main-bg-color1: rgba(223, 15, 154, 0.5);
  // --main-bg-color2: rgba(231, 4, 46, 0.5);
  --main-bg-color1: rgba(36, 112, 106, 0.6);
  --main-bg-color2: rgba(28, 184, 80, 0.6);
  --main-bg-w-o-opa2: rgb(42, 97, 60);
  --main-bg-w-o-opa1: rgb(42, 97, 60);
  --main-bg-w-o-opa: rgb(25, 61, 43);
}

.creation_container {
  width: calc(35% - 60px);
  height: 100vh;
  z-index: 10;
  background-color: $bg-creation-container;
  display: flex;
  flex-direction: row-reverse;
  color: $bg-pickers;
  position: absolute;
  top: 0;
  left: 60px;
  transition: all 0.5s ease;
  overflow-x: hidden;
  overflow: overlay;
  -webkit-box-shadow: 10px 0px 30px -4px $shadow-creation;
  -moz-box-shadow: 10px 0px 30px -4px $shadow-creation;
  box-shadow: 10px 0px 30px -4px $shadow-creation;
}

.small_creation_card {
  height: 100vh;
  width: 400px;
  display: grid;
  grid-template-rows: 150px auto;

  .creation_header {
    align-self: center;
    font-size: 35px;
    margin-left: 20px;
  }
}

.event_form {
  margin: 0px 15px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 3fr;
  grid-row-gap: 5px;
  grid-column-gap: 10px;
  font-size: 15px;
  font-weight: 300;

  .event_form_input_gap {
    height: 5px;
    grid-column-start: 1;
    grid-column-end: 5;
  }

  span {
    align-self: center;
  }

  textarea {
    resize: none;
    width: 100%;
    padding: 5px 3%;
    height: 50px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;

    &:focus {
      background-color: $bg-pickers;
      color: $bg-creation-container;
    }

    &::-webkit-scrollbar {
      // from https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll
      width: 0px; /* remove scrollbar space */
      background: transparent; /* optional: just make scrollbar invisible */
    }
  }

  .input {
    &:focus,
    &:hover {
      box-shadow: 0 1px 1px var(--main-bg-color1) inset, 0 0 3px var(--main-bg-color2);
      outline: 0 none;
    }
    // display:table-cell;
    background-color: #4d4d4d;
    height: 30px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    color: $bg-pickers;
    font-size: 15px;
    font-weight: 300;
    vertical-align: middle;
  }
  .div_input {
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    &:hover {
      cursor: pointer;
    }
    &:focus,
    &:hover {
      box-shadow: 0 1px 1px var(--main-bg-color1) inset, 0 0 3px var(--main-bg-color2);
      outline: 0 none;
    }
  }
  .disabled {
    background-color: rgb(54, 54, 54);
  }
  .focus_input {
    background-color: rgb(65, 64, 64);
    &:focus {
      border-color: rgba(229, 103, 23, 0.8);
      box-shadow: 0 1px 1px var(--main-bg-color1) inset, 0 0 3px var(--main-bg-color2);
      outline: 0 none;
    }
  }
  .event_form_big_input {
    grid-column-start: 2;
    grid-column-end: 5;
  }

  .event_form_small_input {
    text-align: center;
    grid-column: span 1;
  }

  .event_form_whole_row {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .time_select {
    display: flex;
  }

  .event_form_values_container {
    grid-column: 2/5;
    display: flex;
    flex-direction: column;

    & > div {
      margin-bottom: 10px;
    }
  }

  .event_form_card {
    padding: 0 3%;
    height: 30px;
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    position: relative;
    span {
      padding: 0;
      margin: 0;
    }

    .event_form_card_options_container {
      i {
        padding: 5px 6px;
        border-radius: 5px;
        cursor: pointer;
      }
      i:hover {
        background: #0000004d;
      }
    }
  }

  .hour_minute_input {
    top: -45px;
  }
}

.caret {
  width: 0;
  height: 0;
  position: absolute;
  transform: translate(250px, -8px);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 5px solid #fff;
}

.options_container {
  position: absolute;
  width: 275px;
  text-align: center;
  transform: translate(75px, 208px);
  background-color: #242424e1;
  padding: 0px 10px 10px 10px;
  border-radius: 5px 5px 25px 25px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.3);
  input {
    margin-top: 10px;
    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
  }
  .options_days {
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    & > .day_selected_0 {
      background-color: rgba(0, 0, 0, 0.2);
      color: $bg-pickers;
    }
    & > .day_selected_1 {
      background-color: var(--main-bg-w-o-opa2);
      color: $bg-pickers;
    }
    & > div {
      padding: 10px;
      width: 100%;
      height: 100%;
    }
    & > .day_selected_0:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.4);
    }
    & > .day_selected_1:hover {
      cursor: pointer;
      background-color: var(--main-bg-w-o-opa);
    }
  }
  .flex {
    display: flex;
    justify-content: space-between;
  }
  input[type='submit'] {
    background-color: var(--main-bg-w-o-opa2);
    color: $bg-pickers;
    font-size: 16px;
    &:hover {
      background-color: var(--main-bg-w-o-opa);
      cursor: pointer;
    }
  }
}
.calendar_container_repeat {
  position: absolute;
  margin-left: 10px;
  top: 300px;
  color: black;
}
.calendar_container_repeat {
  top: 500px;
}
abbr[title] {
  text-decoration: (none!important);
}
.event_form_container {
  max-height: calc(100vh - 220px);
  min-height: calc(100vh - 220px);
  overflow: auto;
}
.main_button_container_new_width {
  left: calc(35% + 425px);
}
.main_button_container_expanded_width {
  left: calc(80% + 10px);
}
.height100 {
  height: 100%;
}
@media only screen and (max-width: 1300px) {
  .creation_container,
  #content_container {
    min-width: (453.047px!important);
  }
  .main_button_container_new_width {
    left: (calc(435.047px * 2) !important);
  }
  .creation_container_new_width {
    width: (calc(430.047px * 2) !important);
  }
}
