body {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    color: #333333;
    overflow: hidden;
}

input{
    width: 0px;
    border-style: none;
    background: white;
    padding: 0px;
    border-width: 0px;
    font-family: "Lato", sans-serif;
}

.y-unscrollable{
    overflow-y: hidden;
}

.background{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #170f0a;
    #background_image{
        content: url("assets/chile-1463830_1920.jpg");
        height:100%;
        position: absolute;
        right: 0;

    }
}

a{
    text-decoration: none;
    color: #333333;
}

a:visited{
    color: #333333;
}

.content_container{
    z-index: 1;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    transition: all 0.5s ease;
    overflow-x: hidden;

}


.content_card{
    display: grid;
    grid-template-rows: 150px auto;
    height: 100vh;
    width: inherit;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.task_card:hover{
    color:#E7042D;
    cursor: pointer;
}

.content_header{
    width: inherit;
    background-color: #FFFFFF;
    div{
        padding-left: 50px;
        width: 1300px;
    }
    strong{
        color: #E7042D;
    }
}

.main_button_container{
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 550px;
    transition: all 0.5s ease;
    cursor: pointer;
    .main_button{
        border-radius: 50px;
        width: 100px;
        height: 100px;
        background: linear-gradient(180deg, #DF0F98 0%, #E7042D 100%);
        -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.71);
        -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.71);
        box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.71);
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    .expand_arrow{
        position: absolute;
        top: 28px;
        left: 25px;
        fill: #FFFFFF;
    }
}

.reversed{
    transform: rotate(-180deg);
}

.full_loop{
    transform: rotate(360deg);
}

.content{
    background-color: #E4E4E4;
    overflow-y: scroll;
}

.text_15{
    font-size: 15px;
}

.text_20{
    font-size: 20px;
}

.text_30{
    font-size: 30px;
}

#this_is_you_line{
    margin-top: 10px;
}

.text_bold_title{
    font-size: 70px;
    font-weight: 600;
}

.color_text{
    background: linear-gradient(0deg, #DF0F98 0%, #E7042D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.task_card{
    background: #FFFFFF;
    border-radius: 10px;
}

.task_card_past{
    background: rgba(255,255,255,0.4);
    border-radius: 10px;
}

.switch_week_month{
    cursor: pointer;
    position: absolute;
    left: 1070px;
    top: 100px;
    height: 40px;
    font-weight: 200;
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;

    .switch_to_week{
        position: absolute;
        width: 75px;
        height: inherit;
        margin-top:8px;
        color: #FFFFFF;
        transition: color 0.5s;

    }
    .switch_to_month{
        position: absolute;
        width: 75px;
        left: 75px;
        height: inherit;
        margin-top:8px;
        transition: color 0.5s;
    }
    .switch_week_month_background{
        position: absolute;
        background-color: #C4C4C4;
        width: 150px;
        height: inherit;
        border-radius: 50px;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .switch_week_month_button{
        position: absolute;
        background: linear-gradient(180deg, #E7042D 0%, #DF0F98 100%);
        width: 80px;
        height: inherit;
        left: 0px;
        border-radius: 50px;
        transition: left 0.25s ease-out;
    }

}
.hidden{
    display: none;
}
.button_min{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin: 5px;
    width: (13px!important);
    text-align: center;
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1);
    border-width: 2px;
    &:hover{
        cursor: pointer;
        border-color: rgba(255, 255, 255, .7);
    }
}
#create_event_button{
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 3;
    padding: 15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: linear-gradient(0deg, #DF0F98 0%, #E7042D 100%);
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.71);
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.71);
    svg{
        height: 30px;
        width: 30px;

    }
}

// general information card daily - weekly - monthly
.event_info_card{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    z-index: 4;
    color: white;
    padding: 30px;
    width: 350px;
    box-shadow: 7px 10px 30px rgba(0, 0, 0, .4);
    height: 200px;
    word-wrap: break-word;
    border-radius: 10px;
    -webkit-transition: all 0.1s ease;
    top: 41%;
}
.position_daily{
    left: 150px;
}

.right_aligned_text{
    text-align: right;
}
