body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: $color-grey-text;
  overflow: hidden;
}

input {
  width: 0px;
  border-style: none;
  padding: 0px;
  border-width: 0px;
  font-family: 'Lato', sans-serif;
}

.y-unscrollable {
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: $color-grey-text;
}

a:visited {
  color: $color-grey-text;
}

.content_container {
  z-index: 20;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 35%;
  transition: all 0.5s ease;
  overflow-x: hidden;
}
.space_between_arrows {
  width: 100%;
  max-width: calc(100% - 20px);
  padding-right: 70px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.content_card {
  display: grid;
  grid-template-rows: 200px auto;
  height: 100vh;
  width: 100%;
  box-shadow: 10px 10px 20px $color-black-opacity;
}

.task_card:hover {
  color: $color-red;
  cursor: pointer;
}

.content_header {
  width: inherit;
  background-color: $color-bg-header;
  line-height: 50px;
  div {
    padding-left: 20px;
    width: 100%;
  }
  strong {
    color: $color-red;
  }
}

.main_button_container,
.main_button_container_todo {
  z-index: 30;
  position: absolute;
  top: 20px;
  left: calc(35% + 10px);
  transition: all 0.5s ease;
  cursor: pointer;
  .main_button {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background: linear-gradient(180deg, $color-rose 0%, $color-red 100%);
    -webkit-box-shadow: 0px 0px 8px 2px $color-black-opacity-strong;
    -moz-box-shadow: 0px 0px 8px 2px $color-black-opacity-strong;
    box-shadow: 0px 0px 8px 2px $color-black-opacity-strong;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  .expand_arrow {
    position: absolute;
    top: 28px;
    left: 25px;
    fill: #ffffff;
  }
}

.main_button_container_todo {
  left: calc(80vw - 50px);
  .main_button {
    background: linear-gradient(
      180deg,
      $color-bg-linfInfo-dark-mode 0%,
      $todo-blue 100%
    );
  }
  .expand_arrow {
    position: absolute;
    top: 28px;
    left: 25px;
    fill: #ffffff;
  }
}

.reversed {
  transform: rotate(-180deg);
}

.full_loop {
  transform: rotate(360deg);
}

.content {
  background-color: $color-bg-content;
  overflow-y: auto;
}

.text_15 {
  font-size: 15px;
}

.text_20 {
  font-size: 20px;
}

.text_30 {
  margin-top: 20px;
  font-size: 30px;
}

#this_is_you_line {
  margin-top: 10px;
}

.text_bold_title {
  font-size: 55px;
  font-weight: 600;
}

.color_text {
  background: linear-gradient(0deg, $color-rose 0%, $color-red 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.task_card {
  background: #ffffff;
  border-radius: 10px;
}

.task_card_past {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

.switch_week_month {
  cursor: pointer;
  position: absolute;
  left: calc(80vw - 200px);
  top: 135px;
  height: 40px;
  font-weight: 300;
  text-transform: capitalize;
  font-size: 20px;
  text-align: center;

  .switch_to_week {
    position: absolute;
    width: 75px;
    height: inherit;
    margin-top: 7px;
    font-weight: bolder;
    color: #ffffff;
    transition: color 0.5s;
  }
  .switch_to_month {
    position: absolute;
    width: 75px;
    left: 75px;
    height: inherit;
    font-weight: bolder;
    margin-top: 7px;
    transition: color 0.5s;
  }
  .switch_week_month_background {
    position: absolute;
    background-color: #c4c4c4;
    width: 150px;
    height: inherit;
    border-radius: 50px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .switch_week_month_button {
    position: absolute;
    background: linear-gradient(180deg, $color-red 0%, $color-rose 100%);
    width: 80px;
    height: inherit;
    left: 0px;
    border-radius: 50px;
    transition: left 0.25s ease-out;
  }
}
.hidden {
  display: none;
}
.button-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
  position: absolute;
  transform: translate(-45px, -35px);
}
.button_min {
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0px 7px;
  width: auto;
  margin: 3px;
  font-size: 25px;
  text-align: center;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
  }
}
.trash {
  color: $trash-color;
  &:hover {
    color: $trash-hover-color;
  }
}
.exit {
  position: absolute;
  left: 100%;
  top: 0%;
  transform: translate(-25px, -25px);
  padding: 5px 6px 3px 6px;
  color: $exit-color;
  background-color: $bg-exit-color;
  &:hover {
    color: $exit-hover-color;
    background-color: $bg-exit-hover-color;
  }
}
.link {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}
.edit {
  color: $edit-color;
  &:hover {
    color: $edit-hover-color;
  }
}
.description_event {
  margin-top: 10px;
  max-height: 100px;
  overflow: auto;
}
.title_event {
  word-break: break-all;
  // min-height: 105px;
  max-height: 55px;
  padding: 1px;
  overflow-y: auto;
}
// .placeholder_button{
#create_event_button {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 40;
  padding: 15px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: linear-gradient(0deg, $color-rose 0%, $color-red 100%);
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 8px 2px $color-black-opacity-strong;
  -moz-box-shadow: 0px 0px 8px 2px $color-black-opacity-strong;
  box-shadow: 0px 0px 8px 2px $color-black-opacity-strong;
  svg {
    height: 30px;
    width: 30px;
  }
  transition: all 0.5s;
}

.create_event_button_todo {
  position: absolute;
  left: calc(100vw - 135px);
  bottom: 15px;
  z-index: 1100;
  padding: 15px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: linear-gradient(
    0deg,
    $todo-blue 0%,
    $color-bg-linfInfo-dark-mode 100%
  );
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 8px 2px $color-black-opacity-strong;
  -moz-box-shadow: 0px 0px 8px 2px $color-black-opacity-strong;
  box-shadow: 0px 0px 8px 2px $color-black-opacity-strong;
  svg {
    height: 30px;
    width: 30px;
  }
  transition: all 0.5s;
}
.cancel {
  transform: rotate(45deg);
  transition: all 0.5s;
}
.charging_events {
  background-color: $color-bg-content;
  margin: 0;
  z-index: 6;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 35%;
  text-align: center;
  // vertical-align: middle;
  line-height: 100vh;
  height: 100vh;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  color: #333;
}
.charging_events_offline {
  background-color: $bg-loading-card;
  margin: 0;
  z-index: 6;
  position: absolute;
  top: 40%;
  left: 30%;
  width: 40%;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  height: 30vh;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  color: $color-loading-card;
  border: 1px solid $color-loading-card;
  box-shadow: 10px 10px 20px $color-black-opacity;
}

// general information card daily - weekly - monthly
.event_info_card {
  position: absolute;
  background-color: $color-bg-infocard;
  z-index: 50;
  color: black;
  padding: 10px 30px 10px 30px;
  width: 350px;
  box-shadow: 7px 10px 30px $shadow-infocard;
  min-height: 160px;
  word-wrap: break-word;
  border-radius: 10px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  top: 41%;
  h3 {
    margin: 0;
  }
}
.position_daily {
  left: 150px;
}

.right_aligned_text {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 10px;
}

#event_form_discard {
  color: $color-cancel;
  font-size: 20px;
  cursor: pointer;
  margin-right: 1px;
}

.infoCardLinksContainer {
  z-index: 60;
  display: flex;
  // flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  width: 200px;
  max-height: 200px;
  overflow-y: auto;
  justify-content: center;
  top: 50px;
  left: 260px;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.5s ease;
  background-color: $color-bg-content;
  -webkit-box-shadow: 0px 0px 19px 1px $color-black-opacity-soft;
  -moz-box-shadow: 0px 0px 19px 1px $color-black-opacity-soft;
  box-shadow: 0px 0px 19px 1px $color-black-opacity-soft;
}
.linkInfo {
  line-height: 33px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 2px;
  box-shadow: none;
  text-decoration: (none!important);
  height: auto;
  vertical-align: middle;
  font-size: 14px;
  margin-top: 2px;
  color: $color-linfInfo-dark-mode !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: $color-bg-linfInfo-dark-mode;
  width: 100%;
  &:hover {
    color: $color-hover-text !important;
  }
}
.hover {
  &:hover {
    cursor: pointer;
  }
}

// arrows from https://codepen.io/adrianparr/pen/qdbmE

.arrow-left {
  &:hover {
    cursor: pointer;
  }
  &:before {
    content: '\25c4';
    font-size: 50px;
  }
}
.arrow-right {
  &:hover {
    cursor: pointer;
  }
  &:after {
    content: '\25ba';
    font-size: 50px;
    padding-left: 10px;
  }
}

// .content_container ::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 6px $shadow-scroll-bar;
//   box-shadow: inset 0 0 6px $shadow-scroll-bar;
//   background-color: $bg-scroll-bar;
//   border-radius: 10px;
// }

// .content_container ::-webkit-scrollbar {
//   width: 8px;
//   height: 6px;
//   background-color: $bg-scroll-bar;
// }

// .content_container ::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   background-color: $bg-scroll-bar-thumb;
//   background-image: -webkit-gradient(
//     linear,
//     40% 0%,
//     75% 84%,
//     from($color-red-light),
//     to($color-rose-light),
//     color-stop(0.6, $color-between-rose-red-light)
//   );
// }
// .content_container ::-webkit-scrollbar-thumb:hover {
//   background-color: $bg-scroll-bar-thumb-hover;
//   background-image: -webkit-gradient(
//     linear,
//     40% 0%,
//     75% 84%,
//     from($color-red-dark),
//     to($color-rose-dark),
//     color-stop(0.6, $color-between-rose-red-dark)
//   );
// }

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.search_bar {
  background-color: $bg-search-bar;
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid $border-search-bar;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 17px;
  box-shadow: 10px 10px 20px $color-black-opacity;
  &:focus {
    background-color: $focus-bg-search-bar;
    border-color: $focus-border-search-bar;
    border-width: 2px;
  }
}

.centered_container_search {
  margin: 0;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  transform: translate(calc(20%), calc(-50% - 100px));
}

.background {
  width: auto;
  height: auto;
  position: relative;
  z-index: 0;
  background-image: url('assets/bg2.jpg');
  background-size: cover;
  background-position: center center;
}

// spinner from https://tobiasahlin.com/spinkit/

.spinner {
  margin-top: 30px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: calc(50% - 20px);
  text-align: center;

  -webkit-animation: sk-rotate 2s infinite linear;
  animation: sk-rotate 2s infinite linear;
}

.dot1,
.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
    background-color: $color-rose-light;
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  40% {
    background-color: $color-rose-light;
  }
}

// end spinner

@media only screen and (max-height: 1700px) {
  .background {
    height: 1700px;
  }
}
@media only screen and (max-height: 1200px) {
  .background {
    height: 1200px;
  }
}
@media only screen and (max-height: 1000px) {
  .background {
    height: 1000px;
  }
}
@media only screen and (max-height: 900px) {
  .background {
    height: 900px;
  }
}
@media only screen and (max-height: 700px) {
  .background {
    height: 700px;
  }
}
@media only screen and (max-height: 500px) {
  .background {
    height: 500px;
  }
}

@media only screen and (max-width: 1650px) {
  .text_bold_title {
    font-size: 48px;
  }
  .text_30 {
    margin-top: 20px;
    font-size: 29px;
  }
}
@media only screen and (max-width: 1550px) {
  .text_bold_title {
    font-size: 40px;
  }
  .text_30 {
    margin-top: 20px;
    font-size: 27px;
  }
}
@media only screen and (max-width: 1450px) {
  .text_bold_title {
    font-size: 30px;
  }

  .arrow-left {
    &:hover {
      cursor: pointer;
    }
    &:before {
      content: '\25c4';
      font-size: 30px;
    }
  }
  .arrow-right {
    &:hover {
      cursor: pointer;
    }
    &:after {
      content: '\25ba';
      font-size: 30px;
      padding-left: 10px;
    }
  }
  .text_30 {
    margin-top: 20px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 1300px) {
  .main_button_container {
    left: 463.047px;
  }
  .centered_container_search {
    margin: 0;
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    transform: translate(101px, calc(-50% - 100px));
  }
  .content_container {
    width: 453.047px;
  }
  .charging_events {
    width: 453.047px;
  }
}
