input {
    color: inherit;
    border-radius: inherit;
    font-size: inherit;
    background-color: inherit;
    font-weight: inherit;
}

.simple_input_off_state{
    width: 90%;
    height: 100%;
    padding: 0px 5%;
    font-size: 15px;
    display: grid;
    align-items: center;
}


.event_form_on_off:focus{
    outline: 0 none;
}

.event_form_on_off{
    font-size: 15px;
    height: 30px;
    cursor: pointer;

    // buttons
    .button{
        border-radius: 8px;
        background-color: #4F4F4F;
        color: white;
        width: fit-content;
        padding: 4px 15px;
        place-self: center;
        cursor: pointer;

        &:hover{
            background: linear-gradient(180deg, #E7042D 0%, #DF0F98 100%);
        }
    }

    //text input
    .text_line_input{
        width: 90%;
        height: 100%;
        padding: 0px 5%;
        &:focus{
            outline: 0 none;
        }
    }

    //calendar input
    .input_calendar {
        position: relative;
        z-index: 1;
        border: none;
        border-radius: 10px;
        font-family: "Lato", sans-serif;
        padding-bottom: 10px;
        .react-calendar__navigation{
            border-radius: 10px;
            margin-bottom: 10px;
            .react-calendar__navigation__label{
                font-size: 14px;
                font-weight: 100;
                padding-top: 8px;
                font-family: "Lato", sans-serif;
            }
            .react-calendar__navigation__arrow{
                font-family: "Lato", sans-serif;
                font-size: 30px;
                font-weight: 100;
                line-height: 40px;
                &:first-of-type{
                    border-top-left-radius: 10px;
                }
                &:last-of-type{
                    border-top-right-radius: 10px;
                }
            }
        }

        .react-calendar__month-view {
            width: 270px;
            margin: 0px auto;

            .react-calendar__month-view__weekdays{
                font-size: 14px;
                font-weight: 400;
                text-transform: none;
                cursor: default;
            }

            .react-calendar__month-view__days{
                button {
                    font-family: "Lato", sans-serif;
                    font-size: 14px;
                    font-weight: 100;
                    height: 35px;
                    background: none;
                    color: black;
                    &.react-calendar__tile--active{
                        color: white;
                        font-weight: normal;
                        &::after, &:hover::after{
                                content: "";
                                width: 30px;
                                height: 30px;
                                border-radius: 15px;
                                background: linear-gradient(0deg, #DF0F98 0%, #E7042D 100%);
                                display: block;
                                position: relative;
                                top: -23px;
                                left: -2.5px;
                                z-index: 3;
                            }
                    }
                    &.react-calendar__tile:disabled{
                        color: #D4D4D4;
                        &:hover::after{
                            width: 0px;
                        }
                    }
                    abbr {
                        z-index: 4;
                        position: relative;
                    }
                    &:hover::after{
                            content: "";
                            width: 30px;
                            height: 30px;
                            border-radius: 15px;
                            background:#D4D4D4;
                            display: block;
                            position: relative;
                            top: -23px;
                            left: -2.5px;
                            z-index: 3;
                        }
                }

            }
        }
    }

    //wheel selector
    .wheel_selector_container{
        -webkit-user-select: none;
        user-select: none;
        cursor: default;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 20px 20px 20px 20px 20px;
        .control_container{
            cursor: pointer;
            .control_arrow{
                width: 16px;
                height: 10px;
                margin: 0 auto;
            }
        }

    }

    //time input
    .hour_minute_input {
        border-radius: 10px;
        background-color: white;
        position: relative;
        height: 140px;
        width: 80%;
        padding: 0 10%;
        display: grid;
        cursor: default;

        .time_slider{
            height: 100px;
            display: grid;
            grid-template-columns: 30px 10px 30px;
            justify-content: center;
        }
    }
}
