input {
    color: inherit;
    border-radius: inherit;
    font-size: inherit;
    background-color: inherit;
    font-weight: inherit;
}

.simple_input_off_state{
    width: 90%;
    height: 100%;
    padding: 0px 5%;
    font-size: 15px;
    display: grid;
    align-items: center;
}


.event_form_on_off:focus{
    outline: 0 none;
}

//text input
.text_line_input{
    width: 90%;
    height: 30px;
    padding: 0px 5%;
    &:focus{
        outline: 0 none;
        background-color: white;
        color: #343434;
    }
}

.event_form_on_off{
    font-size: 15px;
    height: 30px;
    cursor: pointer;

    // buttons
    .button{
        border-radius: 8px;
        background-color: #4F4F4F;
        color: white;
        width: fit-content;
        padding: 4px 15px;
        place-self: center;
        cursor: pointer;

        &:hover{
            background: linear-gradient(180deg, #E7042D 0%, #DF0F98 100%);
        }
    }

    //calendar input
    .input_calendar {
        position: relative;
        z-index: 1;
        border: none;
        border-radius: 10px;
        font-family: "Lato", sans-serif;
        padding-bottom: 10px;
        .react-calendar__navigation{
            border-radius: 10px;
            margin-bottom: 10px;
            .react-calendar__navigation__label{
                font-size: 14px;
                font-weight: 100;
                padding-top: 8px;
                font-family: "Lato", sans-serif;
            }
            .react-calendar__navigation__arrow{
                font-family: "Lato", sans-serif;
                font-size: 30px;
                font-weight: 100;
                line-height: 40px;
                &:first-of-type{
                    border-top-left-radius: 10px;
                }
                &:last-of-type{
                    border-top-right-radius: 10px;
                }
            }
        }

        .react-calendar__month-view {
            width: 270px;
            margin: 0px auto;

            .react-calendar__month-view__weekdays{
                font-size: 14px;
                font-weight: 400;
                text-transform: none;
                cursor: default;
            }

            .react-calendar__month-view__days{
                button {
                    font-family: "Lato", sans-serif;
                    font-size: 14px;
                    font-weight: 100;
                    height: 35px;
                    background: none;
                    color: black;
                    abbr {
                        z-index: 4;
                        position: relative;
                    }

                    &.react-calendar__tile--active{
                        color: white;
                        font-weight: normal;
                        &::after, &:hover::after{
                                content: "";
                                width: 30px;
                                height: 30px;
                                border-radius: 15px;
                                background: linear-gradient(0deg, #DF0F98 0%, #E7042D 100%);
                                display: block;
                                position: relative;
                                top: -23px;
                                left: -2.5px;
                                z-index: 3;
                            }
                    }
                    &.react-calendar__tile:disabled{
                        color: #D4D4D4;
                    }
                    &.react-calendar__tile:not([disabled]):hover::after{
                            content: "";
                            width: 30px;
                            height: 30px;
                            border-radius: 15px;
                            background:#D4D4D4;
                            display: block;
                            position: relative;
                            top: -23px;
                            left: -2.5px;
                            z-index: 3;
                        }
                }

            }
        }
    }

    //wheel selector
    .wheel_selector_container{
        -webkit-user-select: none;
        user-select: none;
        cursor: default;
        width: 100%;
        height: 100%;
        display: grid;
        font-size: 18px;
        grid-template-rows: auto repeat(3, 23px) auto;
        .wheel_selector_next_control{
            cursor: pointer;
            .control_arrow{
                width: 16px;
                height: 10px;
                margin: 0 auto;
            }
        }

        .wheel_selector_option{
            color: #D4D4D4;
        }

        .wheel_selector_actual_value{
            color: #343434;
            cursor: text;
            &:focus{
                outline: 0 none;
                background-color: #EDEDED;
                border-radius: 5px;
            }
        }

        span.autocomplete{
            color: #A9A9A9;
        }


    }

    //time input
    .hour_minute_input {
        border-radius: 10px;
        background-color: white;
        position: relative;
        height: 160px;
        width: 80%;
        padding: 0 10%;
        padding-bottom: 10px;
        display: grid;
        cursor: default;
        color: #343434;

        .time_slider{
            height: 120px;
            display: grid;
            grid-template-columns: 30px 10px 30px;
            justify-content: center;
        }
    }

    // tag tool
    .tag_tool {
        position: relative;
        z-index: 1;
        border-radius: 10px;
        padding: 10px;
        background-color: white;
        color: #343434;
        display: grid;
        row-gap: 10px;
        cursor: default;
        margin-bottom: 10px;

        .card_container{
            display: grid;
            grid-row-gap: 5px;
        }

        .text_line_input{
            background-color: #D4D4D4;
            border-radius: 10px;
        }

        .horizontal_flex{
            display: grid;
            grid-auto-flow: column;
            column-gap: 10px;
        }

        .navigation{
            justify-content: space-between;
            font-size: 12px;
        }

        span{
            place-self: center;
            i{
                color: #9A9A9A;
            }
        }

        .clickable_anchor{
            cursor: pointer;
            text-decoration: underline;
            place-self: center;

            &:visited{
                color: #343434;
            }
        }

        .tag_color_picker{
            width: 280px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);

            .color_choice{
                box-sizing: border-box;
                width: 40px;
                height: 40px;
                margin: 8px;
                border-radius: 10px;
                place-self: center;
                cursor: pointer;
            }

            .chosen_color{
                width: 50px;
                height: 50px;
                margin: 3px;
                display: grid;

                svg {
                    width: 25px;
                    place-self: center;
                }
            }
        }
    }

    // link tool
    .link_tool{
        position: relative;
        z-index: 1;
        border-radius: 10px;
        padding: 10px;
        background-color: white;
        color: #343434;
        display: grid;
        row-gap: 10px;
        cursor: default;
        margin-bottom: 10px;

        .text_line_input{
            background-color: #D4D4D4;
            border-radius: 10px;
        }
    }
}
