$color-lapis: #3a5bd4;
$color-ocean: #008989;
$color-seafoam: #12b180;
$color-blonde: #ffe148;
$color-tangerine: #f5983b;
$color-rose: #d83348;
$color-lilac: #d533d8;
$color-violet: #7b2aad;
$color-grey: #4f4f4f;
$color-white: #ffffff;

@mixin tag_palette($tag_color, $font_color) {
  background-color: $tag_color;
  color: $font_color;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.lapis_tag {
  @include tag_palette($color-lapis, $color-white);
}

.ocean_tag {
  @include tag_palette($color-ocean, $color-white);
}

.seafoam_tag {
  @include tag_palette($color-seafoam, $color-white);
}

.blonde_tag {
  @include tag_palette($color-blonde, $color-grey);
}

.tangerine_tag {
  @include tag_palette($color-tangerine, $color-white);
}

.rose_tag {
  @include tag_palette($color-rose, $color-white);
}

.lilac_tag {
  @include tag_palette($color-lilac, $color-white);
}

.violet_tag {
  @include tag_palette($color-violet, $color-white);
}

.grey_tag {
  @include tag_palette($color-grey, $color-white);
}

.white_tag {
  @include tag_palette($color-white, $color-grey);
}

.blue_tag {
  @include tag_palette($todo-blue, $color-white);
}
