$color-lapis: #3A5BD4;
$color-ocean: #008989;
$color-seafoam: #12B180;
$color-blonde: #FFE148;
$color-tangerine: #F5983B;
$color-rose: #D83348;
$color-lilac: #D533D8;
$color-violet: #7B2AAD;
$color-grey: #4F4F4F;
$color-white: #FFFFFF;

@mixin tag_palette($tag_color, $font_color){
    background-color: $tag_color;
    color: $font_color;
}

.lapis_tag{
    @include tag_palette($color-lapis, $color-white)
}

.ocean_tag{
    @include tag_palette($color-ocean, $color-white)
}

.seafoam_tag{
    @include tag_palette($color-seafoam, $color-white)
}

.blonde_tag{
    @include tag_palette($color-blonde, $color-grey)
}

.tangerine_tag{
    @include tag_palette($color-tangerine, $color-white)
}

.rose_tag{
    @include tag_palette($color-rose, $color-white)
}

.lilac_tag{
    @include tag_palette($color-lilac, $color-white)
}

.violet_tag{
    @include tag_palette($color-violet, $color-white)
}

.grey_tag{
    @include tag_palette($color-grey, $color-white)
}

.white_tag{
    @include tag_palette($color-white, $color-grey)
}
